{% extends "base.html" %}

{% block title %}Tabel Referensi{% endblock %}

{% block style_libs %}
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content_title %}Referensi{% endblock %}

{% block content %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Tabel Referensi</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Pengarang</th>
            <th>Judul</th>
            <th>Keterangan</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>No</th>
            <th>Pengarang</th>
            <th>Judul</th>
            <th>Keterangan</th>
            <th>Aksi</th>
          </tr>
        </tfoot>
        <tbody>
          {% for referensi in referensis %}  
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ referensi.pengarang }}</td>
            <td>{{ referensi.judul }}</td>
            <td>{{ referensi.keterangan }}</td>
            <td>
                <a href="#" class="btn btn-primary btn-user btn-block">Update</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
{% endblock %}

{% block scripts_libs %}
<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}