{% extends "base.html" %}

{% block title %}Tabel Pengusulan{% endblock %}

{% block style_libs %}
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content_title %}Pengusulan{% endblock %}

{% block button_insert %}
<div>
  <a href="{{ url_for('pengusulan.table') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
      &larr; Kembali ke Tabel Pengusulan
  </a>

  {% if status == pengusulan_code.DIUSULKAN %}
  <a href="{{ url_for('pengusulan.manage_all') }}" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
    <i class="fas fa-cog fa-sm text-white-50"></i> Tampilkan Semua Pengusulan Unit
  </a>
  {% elif status == None %}
  <a href="{{ url_for('pengusulan.manage') }}" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
    <i class="fas fa-cog fa-sm text-white-50"></i> Kelola Pengusulan Unit
  </a>
  {% endif %}
</div>
{% endblock %}

{% block content %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Tabel Pengusulan</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Tanggal</th>
            <th>Pengarang</th>
            <th>Judul</th>
            <th>Pengusul</th>
            <th>Status</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Tanggal</th>
            <th>Pengarang</th>
            <th>Judul</th>
            <th>Pengusul</th>
            <th>Status</th>
            <th>Aksi</th>
          </tr>
        </tfoot>
        <tbody>
          {% for pengusulan in pengusulans %}  
          <tr>
            <td>{{ pengusulan.tanggal_pengusulan.strftime("%Y/%m/%d %H:%M:%S") }}</td>
            <td>{{ pengusulan.pengarang }}</td>
            <td>{{ pengusulan.judul }}</td>
            <td>{{ pengusulan.display_pengusul() }}</td>
            <td>{{ pengusulan.display_status() }}</td>
            <td>
                {% if pengusulan.status == pengusulan_code.DIUSULKAN %}
                <a href="{{ url_for('pengusulan.approve', pengusulan_id=pengusulan.id, status=pengusulan_code.DISETUJUI_UNIT) }}" class="btn btn-primary btn-user btn-block">Setuju</button>
                <a href="{{ url_for('pengusulan.approve', pengusulan_id=pengusulan.id, status=pengusulan_code.DITOLAK_UNIT) }}" class="btn btn-danger btn-user btn-block">Tolak</button>
                {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
{% endblock %}

{% block scripts_libs %}
<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/datatables/first-index-desc.js') }}"></script>
{% endblock %}