{% extends "base.html" %}

{% block title %}Tabel Unit{% endblock %}

{% block style_libs %}
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content_title %}Unit{% endblock %}

{% if perpus_role == 'dev' %}
{% block button_insert %}
<a href="{{ url_for('unit.create') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-plus fa-sm text-white-50"></i> Buat Data Baru
</a>
{% endblock %}
{% endif %}

{% block content %}

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Tabel Unit</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Kode</th>
            <th>Nama</th>
            <th>Alamat</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Kode</th>
            <th>Nama</th>
            <th>Alamat</th>
            <th>Aksi</th>
          </tr>
        </tfoot>
        <tbody>
          {% for unit in units %}  
          <tr>
            <td>{{ unit.kode }}</td>
            <td>{{ unit.nama }}</td>
            <td>Gedung {{ unit.gedung }}, Lantai {{ unit.lantai }}, Ruangan {{ unit.ruangan }}</td>
            <td>
                <a href="{{ url_for('unit.update', unit_id=unit.id, unit_kode=unit.kode) }}" class="btn btn-primary btn-user btn-block">Update</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
{% endblock %}

{% block scripts_libs %}
<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}