{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content_title %}{{ page_title }}{% endblock %}

{% block button_insert %}
<a href="{{ url_for('peminjaman.table') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    &larr; Kembali ke Tabel Peminjaman
</a>
{% endblock %}

{% block form_error %}
{% if form.errors %}
<!-- Content Row -->
<div class="row">
{% for field, error in form.errors.items() %}
    {% for e in error %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card mb-4 py-3 border-bottom-danger">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Terjadi Kesalahan</div>
                <div class="mb-0 text-gray-800">{{ e }}</div>
            </div>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}
{% endfor %}
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">

      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">{{ page_title }}</h6>
        </div>
        <div class="card-body">
          <form class="user"
            method="POST"
            accept-charset="UTF-8"
            role="form">

              {{ form.csrf_token }}
              {{ render_field(form.peminjaman_id) }}
              {{ render_field(form.verified_by) }}

              <div class="form-group">
                <label for="buku_regcomp">REG.COMP Buku:</label>
                {{ render_field(form.buku_regcomp, class="form-control form-control-user", placeholder="", type="text", maxlength="30") }}
              </div>
              
              <div class="form-group">
                <label for="peminjam_kode">Kode Pemustaka (NRP/NPK):</label>
                {{ render_field(form.peminjam_kode, class="form-control form-control-user", placeholder="", type="text", maxlength="10") }}
              </div>

              <div class="form-group">
                <label for="tanggal_pinjam">Tanggal Pinjam:</label>
                {{ render_field(form.tanggal_pinjam, class="form-control form-control-user", placeholder="", type="date") }}
              </div>

              <div class="form-group">
                <label for="tanggal_tenggat">Tanggal Tenggat:</label>
                {{ render_field(form.tanggal_tenggat, class="form-control form-control-user", placeholder="", type="date") }}
              </div>

              <div class="form-group">
                <label for="status">Status:</label>
                {{ render_field(form.status, size=3) }}
              </div>

              <button class="btn btn-primary btn-user btn-block text-uppercase font-weight-bold" type="submit" name="submit">
                  Simpan
              </button>

              {% if page_title == 'Ubah Peminjaman' %}
              <a href='#' 
                class="btn btn-danger btn-user btn-block text-uppercase font-weight-bold">
                  Hapus
              </a>
              {% endif %}
          </form>
        </div>
      </div>

    </div>
</div>
{% endblock %}