{% extends "base.html" %}

{% block title %}Tabel Peminjaman{% endblock %}

{% block style_libs %}
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content_title %}Peminjaman{% endblock %}

{% block button_insert %}
<div>
  {% if is_pustakawan %}
  <a href="{{ url_for('peminjaman.create', periode=periode) }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-plus fa-sm text-white-50"></i> Tambahkan Data Baru
  </a>
  {% endif %}
  <a href="{{ url_for('fpgrowth.table') }}?periode={{periode}}" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
    <i class="fas fa-cog fa-sm text-white-50"></i> Tampilkan Asosiasi Peminjaman
  </a>
</div>
{% endblock %}

{% block content %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Tabel Peminjaman</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Tanggal Pinjam</th>
            <th>Pemustaka</th>
            <th>Buku</th>
            <th>Status</th>
            {% if is_pustakawan %}
            <th>Aksi</th>
            {% endif %}
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Tanggal Pinjam</th>
            <th>Pemustaka</th>
            <th>Buku</th>
            <th>Status</th>
            {% if is_pustakawan %}
            <th>Aksi</th>
            {% endif %}
          </tr>
        </tfoot>
        <tbody>
          {% for peminjaman in peminjamans %}  
          <tr>
            <td>{{ peminjaman.get_tanggal() }}</td>
            <td>{{ peminjaman.get_pemustaka() }}</td>
            <td>{{ peminjaman.get_buku() }}</td>
            <td>{{ peminjaman.status.capitalize() }}</td>
            {% if is_pustakawan %}
            <td>
              <a class="btn btn-danger btn-user btn-block" href="{{ url_for('peminjaman.delete', periode=periode, peminjaman_id=peminjaman.id) }}">Hapus</a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
{% endblock %}

{% block scripts_libs %}
<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}